<div class="talkie-comments-form-container">
  <%= form_for [talkie, Talkie::Comment.new] do |f| %>
    <%= f.hidden_field :commentable_id, value: commentable.id %>
    <%= f.hidden_field :commentable_type, value: commentable.class.name %>

    <%= f.text_area :body, placeholder: t("talkie.comments.form.body_placeholder"), class: "talkie-comment-body-textarea" %>
    <%= f.submit t("talkie.comments.form.submit"), class: "talkie-comments-form-submit" %>
  <% end %>
</div>

<h5 class="talkie-comments-count"><%= pluralize commentable.comments.size, t("talkie.comments.count.singular"), plural: t("talkie.comments.count.plural") %></h5>
