<div class="talkie-comments-form-container">
  <%= form_for [talkie, Talkie::Comment.new] do |f| %>
    <%= f.hidden_field :commentable_id, value: commentable.id %>
    <%= f.hidden_field :commentable_type, value: commentable.class.name %>

    <%= f.text_area :body, placeholder: "Write your comment..." %>
    <%= f.submit "Publish", class: "talkie-comments-form-submit" %>
  <% end %>
</div>

<h5 class="talkie-comments-count"><%= pluralize commentable.comments.size, "comment", plural: "comments" %></h5>
